$darkblue: #394C60;
$darkblue: #A4B8C1;
$darkblue: #000000;
$darkblue: #ffffff;
$h1-size: 68px;
$h2-size: 36px;
$h2-lheight: 150%;
$h3-size: 24px;
$p-size: 20px;
$p-lheight: 150%;
$btn-size: 18px;
$s-margin: 60px;
$m-margin: 100px;
$xs-padding: 10px;
$s-padding: 15px;
$m-padding: 20px;
$l-padding: 30px;
$xl-padding: 50px;