@import "./base.scss";
*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
    font-family: "Roboto";
}
section{
    margin-bottom: $m-margin;
}
[class*="__container"]{
    max-width: $container-width;
    margin: 0px auto;
    padding: 0 15px;
}
[class*=__button] {
    
}
[class*=__maintitle] {
    font-size: $h1-size;
    font-weight: 500;
    color: $white;
    text-transform: capitalize; 
}
[class*=__title] {
    font-size: $h2-size;
    font-weight: 500;
    text-transform: capitalize; 
}
.title{
    &_center {
        text-align: center;
    }
}
[class*=__subtitle] {
    font-size: $h3-size;
    font-weight: 500;
}
[class*=__text] {
    font-size: $p-size;
    font-weight: 400;
    line-height: $p-lheight;
}
.button {
    width: fit-content;
    padding: $s-padding $l-padding;
    text-decoration: none;
    border-radius: 2px;
    &__text{
        font-size: $btn-size;
        font-weight: 500;
        color: $white;
        text-decoration: none;
        text-transform: capitalize; 
    }
    &_fill{
        background-color: $darkblue;
    }
    &_border{
        border-radius: $bdr-radius;
        border: 2px solid $white;
    }
}
.header {
    height: 12rem;
    background-color: $white;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 3.5rem;
    }
}
.nav {
    display: flex;
    flex-grow: 3;
    column-gap: 2.5rem;
    justify-content: flex-end;
    padding-right: $xxl-padding;
    &__item{
        font-size: 1.8rem;
    }
}
.screen1{
    background-color: $blue;
    background-image: url(../img/g12.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative;
    &__container{
        display: flex;
        align-items: center;
        height: 67rem;
    }
    &__wrapper{
        margin-top: -10rem;
    }
    &__maintitle{
        padding-bottom: $l-padding;
    }
    &__text{
        color: $white;;
        padding-bottom: $xl-padding;
        max-width: 64rem;
    }
}
.good {
    position: relative;
    column-gap: 3rem;
    margin-top: -20rem;
    &__container{
        display: flex;
        justify-content: space-between;
        column-gap: 3rem;
    }
}
.good-question{
    width: 35rem;
    background-color: $darkblue;
    color: $white;
    padding: 3.5rem 2.5rem 3rem 2.5rem;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    &__subtitle {
        padding-bottom: $m-padding;
        max-width: 27rem;
    }
    &__text{
        max-width: 26rem;
    }
}
.good-answers{
    background-color: $white;
    padding: 3.5rem 6.5rem 1.8rem 6.5rem;
    border-radius: 2px;
    display: flex;
    column-gap: 3rem;
    justify-content: space-between;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}
.good-answer{
    &__subtitle{
        margin-bottom: $xs-padding;
    }
    &__text{
        max-width: 28.5rem;
        padding-bottom: $m-padding;
    }
    &__link{
        &::after{
            content: url(../img/arrow.svg);
        }
    }
}
.item-good {

    &_fill {
        background-color: $darkblue;
        color: $white
    }
    &__text{
        max-width: 2.6rem;
    }
}
.goals{
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: $xl-padding;
    column-gap: 5rem;
    padding-top: $xl-padding;
    &__item {
        width: 25.5rem;
        text-align: center;
    }
}
.item-goals {
    &__icon{
        padding-bottom: $l-padding;
    }
    &__subtitle{
        padding-bottom: $s-padding;
    }
}
.proposal {
    background-image: url(../img/startRecycle_background.png);
    text-align: center;
    color: $white;
    &__content {
        padding: $xxl-padding 0;
    }
    &__title{
        padding-bottom: $l-padding;
    }
    &__text {
        padding-bottom: $xl-padding;
        margin: 0 auto;
        max-width: 62rem;
        font-weight: 500;
    }
    &__button{
        margin: 0 auto;
    }
}
.ustobeus{
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        max-width: 30rem;
        padding-bottom: $l-padding;
    }
    &__facts{
        padding-bottom: $m-padding;
        display: flex;
    }
    &__text{
        padding-bottom: $xs-padding;
        max-width: 54rem;
    }
    &__button{
        margin-top: $xs-margin;
    }
}
.fact{
    color: $darkblue;
    &__description{
        padding: 0 0 $xxs-padding $xxs-padding;
        font-size: 1.6rem;
        font-weight: 600;
    }
    &__content{
        display: flex;
        column-gap: 2rem;
    }
    &__number{
        font-size: 4.8rem;
        font-weight: 800;
    }
    &__text{
        max-width: 17rem;
        font-weight: 600;
    }
}
.weworkwith {
    &__title {
        padding-bottom: $l-padding;
    }
    &__text{
        padding-bottom: $xl-padding;
        max-width: 87rem;
    }
}
.cards {
    display: flex;
    justify-content: space-between;
    &__column{
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }
}
.card {
    width: auto;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    border: 1px solid $stroke_color;
    display: flex;
    align-items: flex-start;
    column-gap: 2.5rem;
    padding: $l-padding $l-padding $m-padding $l-padding;
    &__content{
        width: 37.7rem;
    }
    &__subtitle{
        padding-bottom: $xs-padding;
    }
    &__text{
        padding-bottom: $xxs-padding;
        //max-width: 34rem;
    }
    &__link{
        float: right;
        &::after{
            content: url(../img/arrow.svg);
        }
        &_up{
            margin-top: -3.4rem;
        }
    }
}
.footer{
    background-color: $darkblue;
    color: $white;
    padding-top: $xxl-padding;
    &__main-content{
        display: flex;
        justify-content: space-between;
    }
    &__subtitle{
        margin-bottom: $l-padding;
    }
}
.logo{
    &__transcript{
        padding-top: $xs-padding;
        font-size: 1.8rem;
    }
}
.list{
    font-size: 1.8rem;
}